# 1


'def' keyword is used to create a funtion.

Here is funtion which returns odd numbers in range(1,25)

In [ ]:
def odd_nos():
    odd_nos_list = []
    for i in range(1,25):
        if i %2 !=0:
            odd_nos_list.append(i)
    return odd_nos_list
odd_nos()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

# 2

1. *args are used in function definition to pass variable arguments to a function.

2. **kwargs are used in function definiton to pass varible (key,value) pairs to a function.

In [ ]:
# *args

def names(*args):
    for name in args:
        print(name)

In [ ]:
names('Python','Java','JavaScript')

Python
Java
JavaScript

In [ ]:
# Now, if want to add more names then we not need to change the function definition
# We have to pass it , that all. for eg;

names('Python','Java','JavaScript','Ruby','Perl','Django')

Python
Java
JavaScript
Ruby
Perl
Django

In [ ]:
# **kwargs

def students(**kwargs):
    for key, value in kwargs.items():
        print(f'{key} age is {value}')

In [ ]:
students(Ram = 23,Sita = 22)

Ram age is 23
Sita age is 22

In [ ]:
# Now, if want to add more students then we not need to change the function definition
# We have to pass it with their key,value pair that it. for eg;

students(Ram = 23,Akbar = 22,Govind = 23,Adam = 21,Vivekanad = 25)

Ram age is 23
Akbar age is 22
Govind age is 23
Adam age is 21
Vivekanad age is 25

# 3

In Python, An iterator is an object which is used to iterate over a range of elements,

It consists two methods __iter__() and __next__().

1. __iter__() is used to initialize the iterator

2. __next__() is used to iterate over the iterator

In [ ]:
list1 = [2,4,6,8,10,12,14,16,18,20]

In [ ]:
gen = list1.__iter__()

Now, generating the first 5 elements of the list1 using __next__() method

In [ ]:
gen.__next__()

2

In [ ]:
gen.__next__()

4

In [ ]:
gen.__next__()

6

In [ ]:
gen.__next__()

8

In [ ]:
gen.__next__()

10

# 4

A 'generator' function is a special type of function that returns a generator object, which is an iterator that produces a series of values.

The "yield" keyword is used to define a generator function.

In [ ]:
# Example of generator function
def nos(n):
    a = 1
    for i in range(n):
        yield a
        a = a+1

In [ ]:
# This will generate nos from 1 to 5
for i in nos(5):
    print(i)

1
2
3
4
5

# 5

In [ ]:
def prime_no():
    for i in range(2,1000): # prime numbers less than 1000 & 2 is the first prime no
        prime = True
        for j in range(2,i):
            if i % j == 0:
                prime = False
                break
        if prime == True:
            yield i

In [ ]:
gen = prime_no()
gen

In [ ]:
for i in range(20):  # First 20 prime numbers using __next__() method
    print(gen.__next__())

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

#6

In [1]:
# we are taking a number from user as input

n = int(input("Number of Fibonacci Series to be Printed: "))

# print initial 2 number to start fibonacci series
a, b = 0, 1
print(a, b, end=' ')

i = 0
while (i < n-2):
    c = a + b
    # add the last two numbers and print
    print(c, end=' ')
    a = b
    b = c
    i = i + 1

Number of Fibonacci Series to be Printed: 10
0 1 1 2 3 5 8 13 21 34

#7

In [2]:

#a List Comprehension to iterate through the given string: ‘pwskills’.
string = 'pwskills'
output = [char for char in string]
print(output)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

#8

In [8]:
# palindrome number in python using while loop

# take inputs
num = int(input('Enter the number: '))

# calculate reverse of number
reverse = 0
number = num
while(num != 0):
   remainder = num % 10
   reverse = reverse * 10 + remainder
   num = int(num / 10)

# compare reverse to original number
if(number == reverse):
   print(number,'is a Palindrome')
else:
   print(number,'is not a Palindrome')

Enter the number: 12321
12321 is a Palindrome

#9

In [6]:

#a code to print odd numbers from 1 to 100 using list comprehension.
[odd for odd in range(1,100) if odd%2!=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]